.AllTags {
    display: block;
    border-left: 2px solid black;
    margin-left: 50px;
    padding: 20px;
}

.AllTags h2 {
    margin-bottom: 20px;
}

.btn {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(191, 242, 225);
}

.btn-posts {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(191, 242, 225);
}

.btn-posts.active {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(191, 242, 225);
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.AllTags-mobile {
    display: none;
}

.btn.active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}

@media screen and (max-width: 1100px) {
    .AllTags {
        display: none;
    }

    .AllTags-mobile {
        display: block;
        padding-top: 10px;
    }
}